@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@wide-screen-down: ~'only screen and (max-width: 1199px)';
@desktop-down: ~'only screen and (max-width: 991px)';
@tablet-down: ~'only screen and (max-width: 767px)';
@phone-down: ~'only screen and (max-width: 480px)';
@small-phone-down: ~'only screen and (max-width: 320px)';

@wide-screen-up: ~'only screen and (min-width: 1199px)';
@desktop-up: ~'only screen and (min-width: 991px)';
@tablet-up: ~'only screen and (min-width: 767px)';
@phone-up: ~'only screen and (min-width: 480px)';
@small-phone-up: ~'only screen and (min-width: 320px)';

@primary: #2572C1;
@background: #F6F6F6;
@section_background: white;

body {
    background: @background;
    margin: 0;
    padding: 0;
}

#app {
    @media @desktop-up {
        margin: auto;
        margin-top: 30px;
        max-width: 95%;
    }
}

.card {
    @media @desktop-up {
        border-radius: .5rem;
    }

    background: @section_background;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.1);

    @media print {
        background: white;
        box-shadow: 0 0 0 0;
    }

}

.navbar {
    @media print { display: none; }

    display: flex;
    align-items: center;

    color: white;
    border: 1px solid #ccc;
    background: linear-gradient(to right, @primary, #DC2424);

    .left {
        flex-grow: 2;

        .upper {
            padding: 10px;

            .title {
                padding-top: 20px;
                font-family: 'Pacifico', cursive;
                font-size: 3em;
            }
        }

        .lower {
            padding: 10px;

            a {
                color: white;
                &:not(:last-child) {
                    margin-right: 8px;
                }
            }
        }
    }

    .right {
        display: flex;
        margin-right: 20px;
        align-items: center;

        .select-variation {
            border: 1px solid white;
            border-radius: 4px;
            margin-right: 20px;
            padding: 10px;
        }

        .user-img {
            width: 50px;
            height: 50px;
            border: 1px solid white;
            border-radius: 5px;
        }
    }
}

textarea {
    resize: none !important;
}

.list {
    .list-item {
        display: flex;
        height: 60px;
        align-items: center;
        border: 1px solid #eee;
        border-radius: 5px;
        padding: 10px;
        margin-top: 5px;
        flex-wrap: nowrap;
        background: white;

        &:hover {
            -webkit-transition: all .3s ease-in-out;
            transform: translateY(-4px);
            box-shadow: 0 4px 4px 0 rgba(0,0,0,.1);
        }

        button {
            background: white;
            border: 1px solid white;

            &:hover {
                border: 1px solid #eee;
            }
        }

        .list-text {
            flex-grow: 2;
            padding-right: 10px;
        }
    }
}

.builder-and-cv {
    margin-top: 20px;
    padding: 20px;
    @media @desktop-up {
        display: flex;
    }

    @import "cv.less";

    .builder {
        @media print { display: none; }

        @media @desktop-up {
            margin-right: 10px;
            min-width: 450px;
            flex-grow: 1;
        }

        margin-bottom: 10px;
        
        .builder-links {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;

            &.selected {
                font-weight: bold;
            }
        }
    }
}
